.navbar {
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  overflow: hidden;
  margin-top: 20px;
}

.navbar-right {
  float: right;
  margin-right: 15px;
}

.navbar-right > a {
  display: inline-block;
  text-decoration: none;
  color: black;
  margin-right: 15px;
}

#navbar__logo {
  background-color: purple;
  border-radius: 50%;
  color: white;
  font-size: 15px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
}